<div class="row">
  <div class="col-sm-2">
      <app-adminhome></app-adminhome>
      </div>
      <div class="col-xl-9">
        <form [formGroup]="addForm" (ngSubmit)="submit()">
          <div>
            <P><b>Add Account Details:</b></P>
          </div>
      <div class="form-group" class="col-sm-3">
          <label for="accountNo">Enter Account No:  </label>
          <input type="text" formControlName="accountNo" class="form-control"><br/><br/>
          <div class="alert alert-error" *ngIf="addfrm['accountNo'].invalid && addfrm['accountNo'].touched">
             <p> Account number is required!</p>
          </div>
          <label for="type">Enter type:  </label>
          <select class="form-select" formControlName="type">
            <option value="primary">Primary Account</option>
            <option value="savings">Savings Account</option>
          </select>
          <label for="name">Enter Balance:  </label>
          <input type="text" formControlName="balance" value=0 class="form-control"><br/><br/>         
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="accessLevel">
            <label class="form-check-label" for="flexCheckChecked">
                Read only
            </label>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
      </div>
  </form>   
  </div></div>


