<div class="row">
  <div class="col-sm-2">
      <app-adminhome></app-adminhome>
      </div>
      <div class="col-xl-9"><p> Pending Cheque Book Requests</p>
        <table  class="table table-striped">
            <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Account Number</th>
                  <th scope="col">Account Type</th>
                  <th scope="col">Approve</th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let item of accounts; let i=index;">
                  <td scope="row"> 
                    {{i+1}}
                  </td>
                  <td>{{item.accountNo}}</td>
                  <td>{{ item.type }}</td>
                  <td> <button type="button" class="btn btn-sm btn-outline-primary mr-2"
                    (click)="approve(item.accountId)">Approve</button></td>         
                </tr>
                </tbody>
        </table>
        </div>
        </div>